*.S
*.a
*.cmd
*.csv
*.d
*.d.*
*.exe
*.gcda
*.gcno
*.gprof
*.i
*.json
*.ko
*.log
*.mod.c
*.o
*.order
*.out
*.pyc
*.raw
*.s
*.symvers
*.ur-safe
*\#
*~
.\#*
.build
.tmp_versions
STDERR
STDOUT
\#*
__pycache__
build
core
.tmp
.DS_Store
.ipynb_checkpoints
*-starter
fresh_starter
starter-repo
autograde
Lab.backup.ipynb
hello.txt
